*{
    background-color: black;
}
.Image_Principale{
    max-width: 100%;
}
.Image{
    text-align: center;
}
.MenuSelection{
    background-color: rgb(46, 46, 46) ;
    height: 5.5em;
    margin-top: 1px;
    margin-bottom: 0px;
    padding-left: 0px;
}
li{
    list-style-type: none;
}
.MenuSelectionL{
    background-color: transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    float: left;
    width: 16.667%;
    height: 5.5em;
    color: white;
    transition: background-color 0.5s ease;
    margin-bottom: 2em;
}
.MenuSelectionL:hover{
    background-color: orange;
}
.BoutonAccueil:link,
.BoutonAccueil:visited{
    color: white;
    text-decoration: none;
}
.no-padding > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
label{
    color: orange;
}
div div p{
    color: orange;
}
ul li a{
    color: orange;
}
div h3{
    color:orange;
}
.thumbnail{
    width: 33%;
    float: left
}
.btn{
    transition: background-color 5s ease color 5s ease;
    background-color: orange;
    color: black;
}
.btn:hover{
    background-color: black;
    color: orange;
}